.createListingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: max-content;
    display: "flex";
    justify-content: "space-between"
}
.seller-home-form {
    // margin-top: 40px;
    width: 1500px;
    padding: 10px;
}
.listing-form {
    width: 30rem;
    margin-top: 250px;
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
}
.create-listing, .manage-my-listings, .approve-btn {
    background: linear-gradient(45deg, green, blue);
    margin-right: 0px;
}
.inputelement {
    margin-bottom: 1em;
}
.form-container {
    // margin-top: 20px;
    width: 500px;
    height: fit-content;
}
body{
    width: 100%;
    // margin-top: 50px;
}
.primaryBtn {
    color: #ffffff;
    font-weight: 500;
    padding: 0.5em 1.5em;
    background: rgb(28, 28, 85);
    border-radius: 3px;
    font-size: 1.25rem;
    cursor: pointer;
}
input {
    display: block;
    // margin-top: 12px;
}

.form-container {
    width: 1500px;
    height: fit-content;
    margin-top: 100px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
  }
.reject-btn {
      background: linear-gradient(45deg, red, blue);
  }

  .renegotiate-btn {
    background: linear-gradient(45deg, yellow, blue);
  }

button {
    //   padding: 50px;
    background: linear-gradient(45deg, red, blue);
      height: 50px;
      width:150px;
      border-radius: 25px;
}
button:hover {
    background:linear-gradient(45deg, blue, red);}

.update-btn {
      margin-top: 12px;
  }

.offer {
    margin-top:12px;
    margin-bottom: 12px;
    width: 475px;
    height: 50px;
}