$font-poppins: "Poppins", sans-seriff;
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #006aff;
$lengthSm1:0.25rem;
$lengthSm2:0.375rem;
$lengthSm3:0.5rem;
$lengthMd1:1rem;
$lengthMd2:1.25rem;
$lengthMd3:1.5rem;
$lengthLg1:2rem;
$lengthLg2:3rem;
$lengthLg3:4rem;