a {
    padding-left: 50px;
}
div {
    margin-top: 0px;
    padding-top: 0px;
}
nav{
    margin-top: 0px;
}
img {
    position: absolute;
    // margin-top: 10px;
    width:1080px;
    height: 150px;
    // margin: 0px;
}
.footer {
    margin-top: 0px;
    padding: 0px;
}
.home {
    padding:0px ;
}